<div id="<%= dom_id board %>">
  <p>
    <strong>Name:</strong>
    <%= board.name %>
  </p>

  <p>
    <strong>Author email:</strong>
    <%= board.author_email %>
  </p>

  <p>
    <strong>Layout:</strong>
    <%= board.layout %>
  </p>

</div>
